<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>The example page of miniTemplat for SAE</title>
</head>
<body>
{template header.htm}
<h2>单独变量示例：</h2>
<p>$name</p>
<br />
<h2>判断示例：</h2>
<!--{if $flag == 1}-->
<p>变量为1</p>
<!--{else}-->
<p>变量不为1</p>
<!--{/if}-->
<br />
<h2>循环示例：</h2>
<h4>foreach示例</h4>
<ul>
    <!--{loop $data $key $value}-->
    <li>$key：$value</li>
    <!--{/loop}-->
</ul>
<h2>Rewrite示例：</h2>
http://example.com/index.php?m=test
<br />
<h2>包含示例：</h2>
{template footer.htm}
</body>
</html>
